<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984138231247-r129hamasl51un4f9r2d5ukiouvk664v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984138231247-r129hamasl51un4f9r2d5ukiouvk664v</string>
	<key>API_KEY</key>
	<string>AIzaSyAc-0Qd3CVBXVuOLRJycSleGkwEpPU1Vvg</string>
	<key>GCM_SENDER_ID</key>
	<string>984138231247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henit-chobisa.Vertigo-App</string>
	<key>PROJECT_ID</key>
	<string>vertigo-app-52ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>vertigo-app-52ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984138231247:ios:c0e3593b90ef4ae612b6ba</string>
</dict>
</plist>